<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.user.mapper.SellerStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.seller.SellerStore">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="seller_sn" property="sellerSn"/>
        <result column="level" property="level"/>

        <result column="status" property="status"/>
        <result column="status_remark" property="statusRemark"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, name, logo, seller_sn,  level, status, status_remark, del_flag
    </sql>
    <select id="selectBySn" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from sr_seller_store where seller_sn=#{sn}

    </select>

</mapper>
