<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.user.mapper.SellerEnterpriseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.seller.SellerEnterpriseInfo">
        <id column="seller_sn" property="sellerSn"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="tax_sn" property="taxSn"/>
        <result column="business_lic_num" property="businessLicNum"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="tel_phone" property="telPhone"/>
        <result column="bussiness_lic_img_url" property="bussinessLicImgUrl"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        seller_sn, enterprise_name, tax_sn, business_lic_num, province, city, county, address_detail, tel_phone, bussiness_lic_img_url, del_flag
    </sql>

</mapper>
