<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.user.mapper.SrUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.user.SrUser">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nikename" property="nikename"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="seller_id" property="sellerId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="Map01" type="com.htg.common.bo.user.SrUserBO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nikename" property="nikename"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="seller_id" property="sellerId"/>
        <result column="del_flag" property="delFlag"/>
        <collection property="groupIdList" ofType="Integer">
            <result column="role_group_id"></result>
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, username, password, nikename, tel, email, age, gender, status, seller_id,del_flag
    </sql>


    <sql id="Map01_Column_List">
        SU.id, SU.username, SU.password, SU.nikename, SU.tel, SU.email, SU.age, SU.gender, SU.status,SU.seller_id, SU.del_flag, UG.role_group_id
    </sql>


    <select id="selectByUserName" resultMap="Map01" parameterType="String">
        select
        <include refid="Map01_Column_List"/>
        from
        sr_user SU left join tb_user_role_group UG on SU.id =UG.user_id where username=#{username}
    </select>


    <select id="selectByTel" resultMap="Map01" parameterType="String">
        select
        <include refid="Map01_Column_List"/>
        from
        sr_user SU left join tb_user_role_group UG on SU.id =UG.user_id where tel=#{tel}
    </select>

    <select id="selectByEmail" resultMap="Map01" parameterType="String">
        select
        <include refid="Map01_Column_List"/>
        from
        sr_user SU left join tb_user_role_group UG on SU.id =UG.user_id where email=#{email}
    </select>
</mapper>
